.nav-button {
    height: 50px;
    width: 120px;
    background: white;
    font-weight: bold;
    color: black;
    font-size: 1em;
    border-color: #ffb200;
    padding: 0px;
    outline: none;
    border-style: solid;
}


#navigation button:hover{
    cursor: pointer;
    background: #ffdd90;
}

#navigation button:active{
    filter: none;
    transform: scale(.95);
}

.active {
    background: #ffcc75;
}
